@import "styles/utils/cssreset.css";
@import "styles/utils/grid.css";
@import "styles/shared/colors.css";
@import "styles/shared/typography.css";
@import "styles/components/Nav.css";
@import "styles/components/Track.css";
@import "styles/components/PlayerContainer.css";

body {
    background-color: white;
    font-family: var(--body-font);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}